# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# OpenAI API Configuration
# Custom API Base URL (optional, defaults to https://api.openai.com/v1)
# Example: https://api.openai.com/v1 or your custom API base
OPENAI_API_BASE=https://api.openai.com/v1
# Your OpenAI API Key
OPENAI_API_KEY=sk-****

# The following keys below are automatically created and
# added to your environment when you deploy on Vercel


# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a PostgreSQL database here: https://vercel.com/docs/postgres
POSTGRES_URL=****


# Instructions to create a Redis store here:
# https://vercel.com/docs/redis
REDIS_URL=****
